<form action="" method="post">

<table>
<tr class="required">
	<th><label for="frm-username" class="required">Nickname</label></th>

	<td><input type="text" name="username" id="frm-username" required data-nette-rules='[{"op":":filled","msg":"Nickname musí být vyplněný."}]' class="text"></td>
</tr>

<tr>
	<th></th>

	<td><input type="submit" name="send" value="Chci nové heslo" class="button"></td>
</tr>
</table>

<div><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></div>
</form>
