<form action="" method="post">

<table>
<tr>
	<th><label for="frm-username">Nick</label></th>

	<td><input type="text" name="username" id="frm-username" class="text"></td>
</tr>

<tr>
	<th><label for="frm-password">Heslo</label></th>

	<td><input type="password" name="password" id="frm-password" class="text"></td>
</tr>

<tr>
	<th></th>

	<td><label for="frm-remember"><input type="checkbox" name="remember" id="frm-remember">Zapamatovat si mě</label></td>
</tr>

<tr>
	<th></th>

	<td><input type="submit" name="login" value="Přihlásit" class="button"></td>
</tr>
</table>

</form>
