<form action="" method="post">

<table>
<tr>
	<th><label for="frm-username">Uživatelské jméno</label></th>

	<td><input type="text" name="username" id="frm-username" data-nette-rules='[{"op":":filled","rules":[{"op":":minLength","msg":"Pokud jej zvolíte minimální délka jsou 2 znaky.","arg":2}],"control":"username"}]' class="text"></td>
</tr>

<tr class="required">
	<th><label for="frm-email" class="required">E-mail</label></th>

	<td><input type="text" name="email" maxlength="256" id="frm-email" required data-nette-rules='[{"op":":filled","msg":"E-mail je povinný."},{"op":":filled","rules":[{"op":":email","msg":"Vložte validní email."}],"control":"email"}]' class="text"></td>
</tr>

<tr class="required">
	<th><label for="frm-password-original" class="required">Heslo</label></th>

	<td><input type="password" name="password[original]" id="frm-password-original" required data-nette-rules='[{"op":":filled","msg":"Heslo je povinné."},{"op":":minLength","msg":"Minimální délku hesla zvolte 7 znaků.","arg":7}]' class="text"></td>
</tr>

<tr class="required">
	<th><label for="frm-password-copy" class="required">Heslo pro kontrolu</label></th>

	<td><input type="password" name="password[copy]" id="frm-password-copy" required data-nette-rules='[{"op":":filled","msg":"Zadejte prosím heslo ještě jednou pro kontrolu."},{"op":":equal","msg":"Hesla se neshodují.","arg":{"control":"password[original]"}}]' class="text"></td>
</tr>

<tr>
	<th></th>

	<td><input type="submit" name="send" value="Zaregistrovat" class="button"></td>
</tr>
</table>

</form>
