<form action="" method="post">

<table>
<tr class="required">
	<th><label for="frm-password-original" class="required">Heslo</label></th>

	<td><input type="password" name="password[original]" id="frm-password-original" required data-nette-rules='[{"op":":filled","msg":"Heslo je povinné."},{"op":":minLength","msg":"Minimální délku hesla zvolte 7 znaků.","arg":7}]' class="text"></td>
</tr>

<tr class="required">
	<th><label for="frm-password-copy" class="required">Heslo pro kontrolu</label></th>

	<td><input type="password" name="password[copy]" id="frm-password-copy" required data-nette-rules='[{"op":":filled","msg":"Zadejte prosím heslo ještě jednou pro kontrolu."},{"op":":equal","msg":"Hesla se neshodují.","arg":{"control":"password[original]"}}]' class="text"></td>
</tr>

<tr>
	<th></th>

	<td><input type="submit" name="send" value="Uložit nové heslo" class="button"></td>
</tr>
</table>

<div><input type="hidden" name="hash" value="05423105f6ed323e3f7375a34c42312b"></div>
</form>
